<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создать бонусную карту</title>
</head>
<body>
<h1>Создание бонусной карты</h1>
<form action="/bonus-cards/new" method="post">
    <label>Номер карты:</label>
    <input type="text" name="cardNumber" required>
    <br>
    <label>Имя владельца:</label>
    <input type="text" name="ownerName" required>
    <br>
    <label>Логин пользователя:</label>
    <input type="text" name="username" required> <!-- Новое поле -->
    <br>
    <button type="submit">Создать</button>
</form>
<div th:if="${error}" th:text="${error}" style="color:red;"></div>
</body>
</html>